*{
    padding: 0rem;
    margin: 0rem;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}
.section{
    padding: 9.6rem 1rem;
}

html{
    font-size: 62.5%;
    /* 1 rem = 10 px */
}

body{
    background: #faf9f6;
}
a{
    text-decoration: none;
    display: inline-block;

}
img{
    display: inline-block;
    width: 100%;
}
li{
    list-style: none;
}
.container{
    max-width: 130rem;
    margin: 0 auto;
    padding: 0 0;
}
.error-img img{
    height: 45rem;
    width: 45rem;
}
.heading{
    font-size: 4rem;
    margin-bottom: 1rem;
}
.para{
    font-size: 1.5rem;
    margin-bottom: 1rem;
    line-height: 1.7;
    margin-top: 5rem;
}
.btn{
    font-size: 1.6rem;
    font-weight: bold;
    padding: 1.6rem 3.2rem;
    background: #28282b;
    color: #faf9f6;
    transition: 0.2s all linear;
    text-transform: capitalize;
    border-radius: 1.2rem;
    margin-top: 5rem;
}
.btn:active, .btn:hover{
    transform: scale(1.05);
}
.grid{
    display: grid;
    column-gap: 4rem;
}
.grid-two-col{
    grid-template-columns: repeat(2,1fr);
}
.error-text{
    padding-top: 5rem;
}

/* RESPONSIVE */
@media(max-width:990px){
    .heading{
        font-size: 5rem;
    }
    .para{
        font-size: 1.8rem;
    }
}
@media(max-width:775px){
    .grid-two-col{
        grid-template-columns: repeat(1,1fr);
    }
    .grid{
        row-gap: 2rem;
    }
    .error-img{
        margin: 0 auto;
    }
    .heading{
        font-size: 5rem;
    }
    .para{
        font-size: 1.8rem;
        margin-top: 3rem;
    }
    .btn{
        margin-top: 3rem;
    }
}
@media(max-width:400px){
    .error-img img{
        height: 35rem;
        width: 35rem;
    }
}